<h2>Reports</h2>

<div id="report">
<% @reports.each do |report| %>
	<% doc = Nokogiri::HTML(open(report.url)) %>
	<strong><%= doc.at_css("h1").text %></strong><br><br>
	<%= doc.at_css("p:first-of-type").text %><br><br>
	<%= button_to 'Delete Report', report_path(report), method: :delete, data: { confirm: 'Are you sure?' } %><br><br>
<% end %>
</div>

<br><br>

<%= link_to "Full Report as PDF", reports_path(@reports, :format => "pdf") %> 

<%= link_to "Add New Report", new_report_path %>

<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>