<%= form_for :report, :remote => true, url: reports_path, :html => { :id => "enter_url" } do |f| %>
	<br><br>Enter URL: <br><br><%= f.text_field :url %><br><br>
	<%= f.submit "Add!" %>
<% end %>
<br>

<p id="messages"></p>

<br><br><br>

<%= link_to "My Reports", reports_path %>

<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>