<!DOCTYPE html>
<html>
<head>
  <title>Paper Moon - Document Generator</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
</head>
<body>

<table id="header">
  <tr>
    <td>
      <img id="logo" src="http://hd.wallpaperswide.com/thumbs/paper_moon-t2.jpg">
    </td>
    <td>
    <h1>Paper Moon</h1>
    </td>
  </tr>
</table>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
