<!DOCTYPE html>
<html>
<head>
  <title>Paper Moon - Document Generator</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
  <script>
  	function submitted() {
  		var url = document.getElementById("url_url").value;
  		console.log("Worked");
  		console.log(url);
  		document.getElementById('result').innerHTML = url;
  	}
  </script>
</head>
<body>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
